*{
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: Optima;
}
header{
	width: 100%;
	height: 80px;
	background: #000;
	float: left;
}
header ul{
	margin: 0;
	padding: 10px;
	list-style: none;
}
header ul a li{
	float: left;
	font-size: 30px;
	color: white;
	text-decoration: none;
	border: 10px;
	margin: 10px;
}
header ul li:hover {

	color: gray;
	border-color: white;
	border-top: 2px solid;
}
.container{
	width: 80%;
	margin: 0px auto;
	color: #8687AB  ;
}
.Ejercicios{
	margin: 10px;
	padding: 20px;
	border:3px solid;
	background: #B7BAFF ;
}
.test{
	padding: 20px;
	border:3px solid;
	background: #B7FFBE  ;
}
input{
	size: 20px;
}
button{
	size: 80px;
}
footer{
	width: 100%;
	height: 50px;
	background: #000;
	color: white;
}
footer h4{
	margin: 20px;
	padding: 10px;
}